.navbar {
    /*height: 80px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer {
    display: flex;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.navbarItem {
    height: 30px;
}
